<div class="row justify-content-between">
    <div class="mt-4 col-4">
        <a href="{{post_url}}" target="_blank">POST TITLE</a>
    </div>
    <div class="mt-4 col-3">
        <p class="date">UserName on 2/3/2022</p>
    </div>
</div>
<div class="col-12">
    Post Content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut nisi harum eveniet atque
    quisquam fugiat distinctio quia maxime, illum, omnis nesciunt. Sapiente alias quae dolorem nam
    consectetur ducimus reiciendis animi.
    <a href="/post/{{id}}" class="d-block mt-2">COMMENTS (10)</a>
</div>